<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <% if (user) { %>
        <header class="header">
            <div class="logo">
                <h1>ShopSphere Admin</h1>
            </div>

            <nav>
                <ul class="menu">
                    <li><a href="/users">Users</a></li>
                    <li><a href="/products/show">Products</a></li>
                    <li><a href="/orders/show-orders">Orders</a></li>
                    <li><a href="/admin/logout" class="logout">Logout</a></li>
                </ul>
            </nav>
        </header>
        <% } %>

            <main class="main-content">
                <%- body %>
            </main>

            <% if (user) { %>
                <footer class="footer">
                    &copy; 2026 ShopSphere. All rights reserved.
                </footer>
                <% } %>

</body>

</html>